.carousel-inner
{
    height: 700px;
}

.carousel-inner .carousel-item img
{
    height: 700px;
    object-fit: cover;
}

.carousel-caption h2
{
    color: #E50914;
    font-weight: bold;
    font-size: 30px;
}

.carousel-caption p 
{
    color: #ffffff;
}

.rowposter{
    display: flex;
    overflow-y: hidden;
    overflow-x: scroll;
}

.rowimg
{
    max-height: 100px;
    object-fit: contain;
    width: 100%;
    box-sizing: content-box;
    transition: transform 450ms;
    margin-right: 7px;
}

.rowimg:hover
{
    transform: scale(1.09);
    cursor: pointer;
}

.largeposter{
    max-height: 300px;
    
}

/* .rowposter::-webkit-scrollbar
/* { */
    /* display: none; */
    /* background-color: rgb(60, 57, 57); */
/* }    */
 

/* Set the main scrollbar styles for .rowposter */
.rowposter::-webkit-scrollbar {
    width: 8px; /* Set the width of the scrollbar */
  }
  
  /* Set the track (the area the thumb travels) for .rowposter */
  .rowposter::-webkit-scrollbar-track {
    background-color: #000000; /* Set the background color of the track */
  }
  
  /* Set the handle (the draggable part of the scrollbar) for .rowposter */
  .rowposter::-webkit-scrollbar-thumb {
    background-color: rgba(76, 76, 76, 0.685); /* Set the color of the thumb */
    border-radius: 6px; /* Set the border radius of the thumb */
    width: 6px; /* Set the width of the thumb */
  }
  
  /* Center the track for .rowposter */
  .rowposter::-webkit-scrollbar-thumb:horizontal {
    margin-top: 0;
    margin-bottom: 0;
  }
  
  /* Set the corners of the scrollbar (where the track and thumb meet) for .rowposter */
  .rowposter::-webkit-scrollbar-corner {
    background-color: #000000; /* Set the color of the corners */
  }
  